.transactions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.transaction_item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    background: #29396b;
}

.amount {
    color: #27c965;
}

.code {
    color: #b6b6b6;
}

.method {
    font-weight: 600;
}

.transaction_item > div {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper .right .details {
    width: 100%;
    max-width: 100%;
    padding: 0 16px 16px;
}

.wrapper .right .details .text {
    font-size: 20px;
}

.wrapper .right .details .text:nth-child(1){
    color: #b6b6b6;
}

#confirm {
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 8px;

}