body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #222222;
    box-sizing: border-box;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    background-color: #F2F2F2;
}
._container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}
@media (max-width: 900px){
    ._container{
        padding-right: calc(13px + 7 * ((100vw - 320px) / (900 - 320)));
        padding-left: calc(13px + 7 * ((100vw - 320px) / (900 - 320)));
    }    
}
/*---------------------------------------------------------------------------------------------------*/
.wrapper>.header{
    margin: auto;
    height: 106px;
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
}
.wrapper .header .title{
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin: auto;
    color: black;
}
.wrapper .header .pro {
    font-style: italic;
}
.wrapper .header .button {
    display: flex;
    font-size: 14px;
    position: absolute;
    right: 30px;
    gap: 20px;
}
.wrapper .header .button .reg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 130px;
    border: 2px solid #fece2f;;
    border-radius: 34px;
}
.wrapper .header .button .reg:hover{
    background-color: #fece2f;
}
.wrapper .header .button  .enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 80px;
    background-color: #fece2f;
    border-radius: 34px;
}
.wrapper .header .button .enter:hover{
    background-color: #222222;
    color: #ffffff;
}
.wrapper>.nav {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    max-width: 560px;
    height: 45px;
    font-weight: 700;
    color: #4d4d4d;
}
.wrapper>.nav p{
    cursor: pointer;
}
.wrapper>.nav p:hover{
    color: #222222;

}
@media (max-width: 900px) {
    .wrapper .header .button{
        display: none;
    }
    .wrapper>.nav{
        display: none;
    }
    .wrapper .header .title{
        font-size: calc(32px + 8 * ((100vw - 320px) / (900 - 320)));
        margin: 0;
        margin-left: 20px;
    }
}
/*--------------------------------------------------------------------------------------------------*/
.wrapper .top{
    margin: 0 auto;
    display:flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 0 20px;
    gap: 30px;
    max-width: 1200px;
}
.wrapper .top .animation {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
}
.wrapper .top .animation .variable {
    display: flex;
    font-size: 65px;
    line-height: 1.2;
    font-weight: 700;
    height: 320px;
    position: relative;
}
.wrapper .top .animation .variable .var{
    display: flex;
}
.wrapper .top .animation .variable .text{
    padding-right: 20px;
    display: inline-block;
}
.wrapper .top .animation .variable .border{
    min-width: 4px;
    background-color: #fece2f;
}
.wrapper .top .animation .constant{
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    color: #fece2f;
}
.wrapper .top .image{
    width: 50%;
    max-width: 50%;
    min-width: 50%;
}
.wrapper .top .image img{
    background-color: transparent;
    object-fit: cover;
    width: 100%;
}
@media (max-width: 900px){
    .wrapper .top .animation .variable .text{
        font-size: calc(40px + 25 * ((100vw - 320px) / (900 - 320)));
    }
    .wrapper .top .animation{
        width: auto;
        max-width: none;
        min-width: none;
        padding-right: 20px;
    }
    .wrapper .top .image{
        width: 85%;
        max-width: none;
        min-width: none;
        align-self: center;
    }
    .wrapper .top .animation .variable {
        height: 222px;
    }
    .wrapper .top{
        display: flex;
        align-items: start;
        flex-direction: column;
        padding-left: calc(20px + 20 * ((100vw - 320px) / (900 - 320)));
        padding-right: calc(20px + 20 * ((100vw - 320px) / (900 - 320)));
    }
    .wrapper .top .animation {
        padding-left: calc(20px + 30 * ((100vw - 320px) / (900 - 320)));
    }
}
.wrapper>.background1{
    width: 100%;
    height: 200px;
    background-image: url(images/background1.webp);
    background-size: cover;
}
@media (max-width: 900px){
    .wrapper>.background1 {
        height: calc(70px + 130 * ((100vw - 320px) / (2652 - 320)));
    }
}
/*-----------------------------------------------------------------------------------------------*/
.prices {
    background-color: #ffffff;
}
.prices__container .title {
    margin-top: 50px;
    font-size: 46px;
    font-weight: 700;
}
@media (max-width: 900px){
    .prices__container .title {
        font-size: calc(32px + 14 * ((100vw - 320px) / (900 - 320)));
    }
}
.prices__container .border{
    height: 3px;
    width: 100%;
    background-color: #fece2f;
    margin-bottom: 30px;
}
.prices__container .navigation {
    font-size: 18px;
    color: #999999;
    font-weight: 600;
    display: flex;
    overflow-x: auto;
}
.prices__container .navigation .nav{
    padding: 15px 20px;
    white-space: nowrap;
}
.selected{
    color: #222222;
    border-bottom: #fece2f 2px solid;
}
.prices__container .navigation .nav:hover{
    color: #222222;
    cursor: pointer;
}
.prices__container .border-nav{
    width: 100%;
    background-color: #dfdfdf;
    height: 1px;
}
.prices__container .packs {
    width: 100%;
    display: inline-flex;
    align-self: center;
    justify-content: space-evenly;
    padding: 30px 0;
    gap: 30px;
    flex-wrap: wrap;

    display: none;
}
.prices__container .packs.picked {
    display: inline-flex;
}

.prices__container .packs .pack{
    height: 370px;
    width: 294px;
    border-radius: 15px;
    box-shadow:  #dfdfdf 0 0 25px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
}
.prices__container .packs .pack .header .image img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.prices__container .packs .pack .header{
    display: flex;
    gap: 15px;
    padding-left: 10px;

}
.prices__container .packs .pack .header .text{
    font-size: 22px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 27px;
}
.prices__container .packs .pack .header .text .name{
    color: #fece2f;
}
.prices__container .packs .pack .header .text .number{
    font-size: 16px;
    font-weight: 400;
}
.prices__container .packs .pack .list .string{
    display: flex;
    position: relative;
    padding-top: 20px;
}
.prices__container .packs .pack .list .string .text{
    padding-left: 28px;
}
.prices__container .packs .pack .string .icon{
    position: absolute;
    top: 22px;
}
.prices__container .packs .pack .list{
    flex: 1 1 auto;
}
.prices__container .packs .pack .button {
    width: 132px;
    height: 38px;
    background-color: #fece2f;
    font-size: 14px;
    font-weight: 700;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.prices__container .packs .pack .button:hover{
    background-color: #222222;
    color: #ffffff;
}
/*--------------------------------------------------------------------------------------------------------*/
.start {
    background-color: #ffffff;
    padding-bottom: 50px;
}
.start__container .title{
    margin-top: 50px;
    font-size: 46px;
    font-weight: 700;
    font-style: italic;
}
@media (max-width: 900px){
    .start__container .title {
        font-size: calc(32px + 14 * ((100vw - 320px) / (900 - 320)));
    }
}
.start__container .border{
    height: 3px;
    width: 100%;
    background-color: #fece2f;
    margin-bottom: 30px;
}
.start__container .boxes{
    width: 100%;
    display: inline-flex;
    padding: 30px 0;
    gap: 45px;
    flex-wrap: wrap;
}
.start__container .box {
    display: flex;
    height: auto;
    gap: 12px;
    min-width: 250px;
}
.start__container .box .image {
    height: 50px;
    min-height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: #fece2f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.start__container .box h1{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 30px;
}
.start__container .box p{
    font-size: 16px;
}
/*---------------------------------------------------------------------------------------------------------*/
.wrapper>.background2{
    width: 100%;
    height: 160px;
    background-image: url(images/background2.webp);
    background-size: cover;
    color: #ffffff;
    background-color: #ffffff;
}
@media (max-width: 900px){
    .wrapper>.background2 {
        height: calc(70px + 90 * ((100vw - 320px) / (2652 - 320)));
    }
}
.terms {
    background-color: #fece2f;
    padding: 70px 0;
}
.terms__container h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 23px;
}
.terms__container p{
    font-size: 18px;
    color: #4c4c4c;
}
@media (max-width: 900px){
    .terms__container h1 {
        font-size: calc(32px + 14 * ((100vw - 320px) / (900 - 320)));
    }
}
/*------------------------------------------------------------------------------------------------------------*/
.bibliography{
    background-color: #222222;
}
.bibliography__container{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    gap: 60px;
}
.bibliography__container .image{
    max-width: 460px;
}
.bibliography__container .image img{
    width: 100%;
    object-fit: cover;
}
.bibliography__container .text {
    max-width: 460px;
    color: #ffffff;
}
.bibliography__container .text h1{
    font-size: 46px;
    font-weight: 700;
}
@media (max-width: 900px){
    .bibliography__container .text h1 {
        font-size: calc(32px + 14 * ((100vw - 320px) / (900 - 320)));
    }
    .bibliography__container{
        flex-direction: column;
    }
}
.bibliography__container .text .border{
    height: 3px;
    width: 100%;
    background-color: #fece2f;
    margin-bottom: 10px;
}
.bibliography__container .text p{
    font-size: 16px;
    font-weight: 500;
}
.bibliography__container .text p:first-line{
    font-size: 18px;
}
.wrapper>.background3{
    width: 100%;
    height: 185px;
    background-image: url(images/background3.webp);
    background-size: cover;
    background-color: #ffffff;
}
/*----------------------------------------------------------------------------------------------------------------*/
.advantages{
    background-color: #ffffff;
}
.advantages__container .title{
    margin-top: 50px;
    font-size: 46px;
    font-weight: 700;
}
@media (max-width: 900px){
    .advantages__container .title {
        font-size: calc(32px + 14 * ((100vw - 320px) / (900 - 320)));
        margin-top: calc(5px + 45 * ((100vw - 320px) / (900 - 320)));
    }
}
.advantages__container .border{
    height: 3px;
    width: 100%;
    background-color: #fece2f;
    margin-bottom: 30px;
}
.advantages__container .boxes {
    width: 100%;
    display: inline-flex;
    align-self: center;
    justify-content: space-evenly;
    padding: 30px 0;
    gap: 30px;
    flex-wrap: wrap;
}
.advantages__container .boxes .box{
    height: 260px;
    width: 294px;
    border-radius: 15px;
    box-shadow:  #dfdfdf 0 0 25px;
    padding: 18px;
    display: flex;
    flex-direction: column;
}
.advantages__container .boxes .box .image{
    background-color: #fece2f;
    min-height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.advantages__container .boxes .box .image img{
    height: 40px;
    width: 40px;
}
.advantages__container .boxes .box h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.advantages__container .boxes .box p{
    font-size: 16px;
    font-weight: 300;
    overflow-y: auto;
}
/*-----------------------------------------------------------------------------------------------*/
.partners {
    background-color: #ffffff;
}
.partners__container .title {
    margin-top: 50px;
    font-size: 46px;
    font-weight: 700;
}
@media (max-width: 900px){
    .partners__container .title {
        font-size: calc(32px + 14 * ((100vw - 320px) / (900 - 320)));
    }
}
.partners__container .border{
    height: 3px;
    width: 100%;
    background-color: #fece2f;
}
.partners__container .list{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    height: 160px;
    overflow-x: auto;
    gap: 68px;
}
/*.partners__container .list .left-arrow{
    min-height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-width: 20px;
}
.partners__container .list .left-arrow img{
    width: 100%;
}
.partners__container .list .right-arrow{
    min-height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-width: 20px;
}
.partners__container .list .right-arrow img{
    width: 100%;
}*/
.partners__container .list .partner img{
    width: 144px;
    height: 73px;
    object-fit: contain;
    filter: contrast(160%);
}
.partners__container .list .partner1{
    min-width: 144px;
    max-width: 144px;
    height: 73px;
    margin: 0 -17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners__container .list .partner1 img{
    width: 100%;
    filter: contrast(160%);
}
.wrapper>.background{
    width: 100%;
    height: 280px;
    background-image: url(images/background.webp);
    background-size: cover;
    background-color: #ffffff;
}
.wrapper>.background6{
    width: 100%;
    height: 160px;
    background-image: url(images/background6.webp);
    background-size: cover;
    background-color: #ffffff;
}
.wrapper>.background4{
    width: 100%;
    height: 190px;
    background-image: url(images/background4.webp);
    background-size: cover;
    background-color: #ffffff;
}
@media (max-width: 2652px){
    .wrapper>.background {
        height: calc(60px + 220 * ((100vw - 320px) / (2652 - 320)));
    }
    .wrapper>.background6 {
        height: calc(70px + 90 * ((100vw - 320px) / (2652 - 320)));
    }   
    .wrapper>.background4 {
        height: calc(80px + 110 * ((100vw - 320px) / (2652 - 320)));
    }
}


#border {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    transition: 1s;
    right: 0%;
    width: 0%;
}

#border.left {
    width: 100%;
}

#border div {
    width: 4px;
    min-width: 4px;
    height: 100%;
    background: #FECE2F;
}